<div class="ch-msg-list ch-msg-forward"
     [class.ch-msg-pin]="messageData.hasPin"
     *ngIf="messageData"
>
    <profile-img class="ch-msg-logo" [userInfo]="messageData.userInfo" [settings]="{show_work_name: false, img_size: 34}"></profile-img>
    <div class="clearfix ch-msg-header">
        <span class="f19-f">{{messageData.userInfo.work_name}}</span>
        <div>
            <profile-state  [states]="messageData.userInfo?.state" [uid]="messageData.userInfo?.uid" [isChatContent]="true"></profile-state>
        </div>
        <span class="f5-f ch-msg-merge-time">{{messageData.showTime}}</span>
        <span class="font-alarm ch-msg-icon {{messageData.hasAlarm ? 'icon1-alarm alarm-clicked' : 'font-alarm'}}"
              title="{{messageData.hasAlarm ? messageData.effective_time_display : ''}}"
              tooltip [tooltip]="{content: 'set alarm', position:'top'}"
              #alarm (click)="clickAlarm($event, alarm, alarmSelect,messageData) ">
            <div class="d-select" [class.hide]="!alarm['show']" [style.top.px]="selectTop" #alarmSelect>
                <perfect-scrollbar class="ps-container g-height140">
                <ul class="g-max-height-inherit">
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 1)"><em class="base relative">5 Minutes</em></li>
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 2)"><em class="base relative">10 Minutes</em></li>
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 3)"><em class="base relative">30 Minutes</em></li>
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 4)"><em class="base relative">1 Hour</em></li>
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 5)"><em class="base relative">6 Hours</em></li>
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 6)"><em class="base relative">1 Day</em></li>
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 7)"><em class="base relative">3 Days</em></li>
                    <li class="g-line-height-initial" (click)="clickOnAlarm($event, messageData, alarm, 8)"><em class="base relative">1 Week</em></li>
                    <li class="g-line-height-initial" (click)="deleteChatAlarm($event,messageData)"><em class="base relative">cancel</em></li>
                </ul>
                </perfect-scrollbar>
            </div>
        </span>
        <span class="font-pin1 ch-msg-icon" tooltip [tooltip]="{content: 'pin', position: 'top'}" *ngIf="!messageData.hasPin"
              (click)="clickOnPin($event, messageData)"></span>
        <span class="icon1-chat-pin ch-msg-icon" *ngIf="messageData.hasPin"
              (click)="clickOnPin($event, messageData)"></span>
        <span class="icon1-at ch-msg-icon" (click)="clickOnAt($event, messageData)"
              *ngIf="!messageData.isSelf && !isMerge"></span>
    </div>
    <div class="f20-f ch-msg-text">{{'Forward' | translate}}</div>
    <div class="clearfix ch-msg-forward-info">
        <span class="icon-forward"></span>
        <div class="clearfix">
            <profile-img [userInfo]="forwardMessage?.userInfo" [settings]="{show_work_name: true}"></profile-img>
        </div>
        <div (click)="(messageData.isClose = !messageData.isClose);"
             *ngIf="forwardMessage.type === chatConfig.CHAT_MESSAGE_TYPE_IMG ||
                    forwardMessage.type === chatConfig.CHAT_MESSAGE_TYPE_POST ||
                    forwardMessage.type === chatConfig.CHAT_MESSAGE_TYPE_FILE"
        >
            <span class="v7-f">{{ 'Upload' | translate }}</span>
            <span class="v8-f  add-pointer">
                {{forwardMessage?.detail?.file_name ? forwardMessage?.detail?.file_name :forwardMessage?.detail?.post_name}}.{{forwardMessage?.detail?.ext}}
            </span>
            <span class="font-selectbutton-soildclose font-selectbutton-soildclose-forward"
                  [class.current]="messageData.isClose"
                  style=""
            ></span>
        </div>
    </div>
    <div class="f20-f ch-msg-text"
         *ngIf="forwardMessage.type === chatConfig.CHAT_MESSAGE_TYPE_TEXT"
         [innerHTML]="messageData.safeMsg | emoji | sanitizeHtml"
    >
    </div>
    <!------------IMG------------------->
    <div class="clearfix ch-msg-img" [class.hide]="messageData.isClose"
         *ngIf="forwardMessage.type === chatConfig.CHAT_MESSAGE_TYPE_IMG"
    >
        <img src="{{forwardMessage?.detail?.file_path ? appConfig.resourceDomain + forwardMessage?.detail?.file_path : ''}}"
             (click)="showBigImgDialog($event)"
             (mouseenter)="fetchTheImageLikes($event)"
             [ngStyle]="{'max-height': isMiniDialog? '150px':'350px','max-width':isMiniDialog? '150px':'500px'}"
        >

        <div class="ch-msg-img-opt" toggleSelectGroup>
            <span class="g-border-ab g-bg-white g-border2 cursor g-transition2 g-icon-position icon1-like" [class.font-like-selected]="isLiked"
                  (click)="likeTheImage(forwardMessage.detail.fid,$event)"></span>
            <span class="g-border-ab g-bg-white g-border2 cursor g-transition2 g-icon-position font-more" #menuBtn (click)="clickOnFileMenu($event, menuBtn, menuSelect)" #toggleSelectBut></span>
            <span class="g-border-ab g-bg-white g-border2 cursor g-icon-position-1" (click)="showImageComments($event)">
                <i class="font-comments">
                     <em class="path1"></em>
                     <em class="path2"></em>
                     <em class="path3"></em>
                </i>
            </span>
            <div class="d-select"  #menuSelect #toggleSelect>
                <ul #toggleSelectContent>
                    <li *ngIf="!currentItem.isFriend" (click)="clickOnShare($event, forwardMessage)"><em class="base">{{'Share' | translate}}</em></li>
                    <li (click)="downloadChatFile($event)"><em class="base">{{'Download' | translate}}</em></li>
                    <li (click)="archiveToFolder($event,forwardMessage)"><em class="base">{{'Archive to folder' | translate}}</em></li>
                    <li *ngIf="!forwardMessage.hasPin" (click)="clickOnPin($event, messageData)"><em class="base">{{'Pin it' | translate}}</em></li>
                    <li *ngIf="forwardMessage.hasPin" (click)="clickOnPin($event, messageData)"><em class="base">{{'UnPin it' | translate}}</em></li>
                    <li class="d-select-remove" (click)="clickOnRevoke($event,messageData)"><em class="base">{{'Remove this message' | translate}}</em></li>
                </ul>
            </div>
        </div>
    </div>

    <!----------POST---------------------->
    <div class="clearfix ch-msg-post" [class.hide]="messageData.isClose"
         *ngIf="forwardMessage.type === chatConfig.CHAT_MESSAGE_TYPE_POST"
    >
        <div class="ch-msg-post-info">
            <div class="ch-msg-post-detail-icon">
                                <span class="icon-file-post">
                                    <em class="path1"></em>
                                    <em class="path2"></em>
                                    <em class="path3"></em>
                                </span>
            </div>
            <p class="f21-f">{{forwardMessage?.detail?.post_name}}</p>
            <p class="f5-f">{{'Last edit' | translate}}{{forwardMessage?.detail?.updated}} {{'ago' | translate}}</p>
        </div>

        <div class="ch-msg-post-detail"
             (click)="clickExpendDetail($event,forwardMessage)">
            <a class="f4-f ch-msg-post-event cursor" *ngIf="!isExpendDetail && showTooltip">{{'click to expand detail' | translate}}</a>
            <a class="f4-f ch-msg-post-event cursor" *ngIf="isExpendDetail && showTooltip">{{'click to collapse' | translate}}</a>
            <p class="f20-f">
                {{currentSummary}}
            </p>
        </div>
        <i class="ch-msg-post-detail-line" *ngIf="isShowAttachment"></i>
        <div class="ch-msg-post-img" *ngIf="isShowAttachment">
            <div class="clearfix ch-msg-post-img-info"
                 (click)="(forwardMessage.isShowAttachment = !forwardMessage.isShowAttachment)">
                <span class="v7-f">{{ 'Upload' | translate }}</span>
                <span class="f19-f g-mini-text-overflow" title="{{forwardMessage?.detail?.first_attachment?.name}}">
                    {{forwardMessage?.detail?.first_attachment?.name}}</span>
                <span class="font-selectbutton-soildclose " [class.current]="forwardMessage.isShowAttachment"></span>
            </div>
            <div class="ch-msg-post-img-warp" [class.hide]="forwardMessage.isShowAttachment">
                <img src="{{forwardMessage?.detail?.first_attachment?.path? appConfig.resourceDomain+forwardMessage?.detail?.first_attachment?.path:''}}">
            </div>
        </div>
        <div class="ch-msg-post-opt" toggleSelectGroup>
            <span class="g-border-ab g-bg-white g-border2 cursor g-transition2 g-icon-position bi-icon-open" (click)="openPostDetail($event,forwardMessage)"></span>
            <span class="g-border-ab g-bg-white g-border2 cursor g-icon-position-1" (click)="openPostDetail($event,forwardMessage,true)">
                <i class="font-comments">
                     <em class="path1"></em>
                     <em class="path2"></em>
                     <em class="path3"></em>
                </i>
            </span>
            <span class="g-border-ab g-bg-white g-border2 cursor g-transition2 g-icon-position font-more" #menuBtn (click)="clickOnFileMenu($event, menuBtn, menuSelect)" #toggleSelectBut></span>
            <div class="d-select"  #menuSelect #toggleSelect>
                <ul #toggleSelectContent>
                    <li *ngIf="!currentItem.isFriend" (click)="clickOnShare($event, forwardMessage)"><em class="base">{{'Share' | translate}}</em></li>
                    <li (click)="downloadChatFile($event)"><em class="base">{{'Download' | translate}}</em></li>
                    <li (click)="archiveToFolder($event,forwardMessage)"><em class="base">{{'Archive to folder' | translate}}</em></li>
                    <li *ngIf="!forwardMessage.hasPin" (click)="clickOnPin($event, messageData)"><em class="base">{{'Pin it' | translate}}</em></li>
                    <li *ngIf="forwardMessage.hasPin" (click)="clickOnPin($event, messageData)"><em class="base">{{'UnPin it' | translate}}</em></li>
                    <li class="d-select-remove" (click)="clickOnRevoke($event,messageData)"><em class="base">{{'Remove this message' | translate}}</em></li>
                </ul>
            </div>
        </div>
    </div>
    <!---------FILE----------------->
    <div class="clearfix ch-msg-file" [class.hide]="messageData.isClose"
         *ngIf="forwardMessage.type === chatConfig.CHAT_MESSAGE_TYPE_FILE"
    >
        <div class="clearfix">
                          <span class="icon-file-information ch-msg-file-icon"
                                *ngIf="forwardMessage?.detail?.file_type==='information'">
                <em class="path1"></em>
             </span>
            <span class="icon-file-excel ch-msg-file-icon"
                  *ngIf="forwardMessage?.detail?.file_type==='excel'">
                            <em class="path1"></em>
                        </span>
            <span class="icon-file-word ch-msg-file-icon"
                  *ngIf="forwardMessage?.detail?.file_type==='word'">
                            <em class="path1"></em>
                         </span>
            <span class="icon-file-other ch-msg-file-icon"
                  *ngIf="forwardMessage?.detail?.file_type==='other'">
                            <em class="path1"></em>
                            <em class="path2"></em>
                    </span>
            <span class="icon-file-acrobat ch-msg-file-icon"
                  *ngIf="forwardMessage?.detail?.file_type==='pdf'">
                         <em class="path1"></em>
                    </span>
            <span class="icon1-excel ch-msg-file-icon"
                  *ngIf="forwardMessage?.detail?.file_type==='ppt'">
                        <em class="path1"></em>
                        <em class="path2"></em>
                    </span>
            <div class="ch-msg-file-text">
                <span class="f21-f">{{forwardMessage?.detail?.file_name}}.{{forwardMessage?.detail?.ext}}</span>
                <span class="f5-f">{{'Last edit' | translate}}{{forwardMessage?.detail?.updated}}</span>
            </div>
        </div>
        <div class="ch-msg-post-opt" toggleSelectGroup>
            <span class="bi-icon-open hide"></span>
            <span class="font-comments hide">
                <em class="path1"></em>
                <em class="path2"></em>
            </span>
            <span class="g-border-ab g-bg-white g-border2 cursor g-transition2 g-icon-position font-more" #menuBtn (click)="clickOnFileMenu($event, menuBtn, menuSelect)" #toggleSelectBut></span>
            <div class="d-select"  #menuSelect #toggleSelect>
                <ul #toggleSelectContent>
                    <li *ngIf="!currentItem.isFriend" (click)="clickOnShare($event, forwardMessage)"><em class="base">{{'Share' | translate}}</em></li>
                    <li (click)="downloadChatFile($event)"><em class="base">{{'Download' | translate}}</em></li>
                    <li (click)="archiveToFolder($event,forwardMessage)"><em class="base">{{'Archive to folder' | translate}}</em></li>
                    <li *ngIf="!messageData.hasPin" (click)="clickOnPin($event, messageData)"><em class="base">{{'Pin it' | translate}}</em></li>
                    <li *ngIf="messageData.hasPin" (click)="clickOnPin($event, messageData)"><em class="base">{{'UnPin it' | translate}}</em></li>
                    <li class="d-select-remove" (click)="clickOnRevoke($event,messageData)"><em class="base">{{'Remove this message' | translate}}</em></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="ch-msg-opt">
        <span class="font-forward g-icon-position g-transition2" (click)="clickOnForward($event, messageData)"
              tooltip [tooltip]="{content: 'forward', position:'bottom'}"
        ></span>
        <span class="font-page-esc-small g-icon-position g-transition2"
              *ngIf="messageData.isAbleRevoke"
              tooltip [tooltip]="{content: 'recall it', position:'bottom'}" (click)="clickOnRevoke($event, messageData)">
        </span>
    </div>
</div>