<div class="index-notification-public">
  <div class="line">
    <div class="day clearfix">
      <span class="pull-left index-notification-day-bg1">Today</span>
      <i class="pull-right"></i>
    </div>
    <div class="items items-hover clearfix">
      <div class="delete"></div>
      <div class="title clearfix">
        <i class="pull-left non-icon-size icon-contact arrow"></i>
        <span class="pull-left"><b>New</b> Contact</span>
      </div>
      <div class="con clearfix">
        <div class="people clearfix">I don`t know you I don`t know you I don...</div>
        <div class="pull-left des clearfix">
          <span class="public-type pull-left public-type-color public-type-padding global-supplier">supplier<i class="public-icon"></i></span>
          <span class="public-type pull-left public-type-color public-type-padding global-friend">friend<i class="public-icon"></i></span>
        </div>
      </div>
    </div>
    <div class="items items-hover clearfix">
      <div class="delete"></div>
      <div class="title clearfix">
        <i class="pull-left non-icon-size icon-owner arrow"></i>
        <span class="pull-left"><b>New</b> Owner</span>
      </div>
      <div class="con clearfix">
        <div class="people clearfix">
          <img class="pull-left" src="{{config.staticResourceDomain + 'assets/images/Company-profile-photo-img1.png'}}" />
          <span class="pull-left">
                                              <b>Tom vick</b>
                                              <i>HR Manager</i>
                                          </span>
        </div>
        <div class="pull-left des clearfix">
          <em>MYDK consultant</em>
        </div>
      </div>
    </div>
    <div class="items items-hover clearfix">
      <div class="delete"></div>
      <div class="title clearfix">
        <i class="pull-left non-icon-size contact-recommend arrow"></i>
        <span class="pull-left"><b>Recommend</b></span>
      </div>
      <div class="con clearfix">
        <div class="people clearfix">
          <img class="pull-left" src="{{config.staticResourceDomain + 'assets/images/Company-profile-photo-img1.png'}}" />
          <span class="pull-left">
                                              <b>Tom vick</b>
                                              <i>HR Manager</i>
                                          </span>
        </div>
      </div>
    </div>
    <div class="items items-hover clearfix">
      <div class="delete"></div>
      <div class="title clearfix">
        <i class="pull-left non-icon-size contact-variation arrow"></i>
        <span class="pull-left"><b>Relation</b></span>
      </div>
      <div class="con clearfix">
        <div class="pull-left des clearfix">
          <span class="public-type pull-left public-type-color public-type-padding global-supplier">supplier<i class="public-icon"></i></span>
          <span class="public-type pull-left public-type-color public-type-padding global-friend">friend<i class="public-icon"></i></span>
        </div>
      </div>
    </div>
    <div class="items items-hover clearfix">
      <div class="delete"></div>
      <div class="title clearfix">
        <i class="pull-left non-icon-size icon-discharge arrow"></i>
        <span class="pull-left"><b>Resignation</b> announcement</span>
      </div>
      <div class="con clearfix">
        <div class="people clearfix">I don`t know you I don`t know you I don...</div>
      </div>
    </div>
  </div>
</div>