<!--chat comments start  .chat-popup-hide-->
<div class="chat-popup chat-comments hide" style="position: fixed">
    <div class="chat-comments-wrap">
        <div class="chat-popup-title chat-search-title clearfix">
            <span class="pull-left f24-f chat-popup-title-name">Comments</span>
            <span class="font-remove pull-right"></span>
            <div class="chat-comments-search pull-right">
                <span class="font-page-next-small pull-left chat-comments-search-left"></span>
                <span class="pull-left chat-comments-search-center f21-f">2017 sales managem…</span>
                <span class="font-page-next-small pull-left chat-comments-search-right"></span>
            </div>
        </div>
        <div class="chat-popup-scroll">
            <div class="chat-comments-upload">
                <div class="chat-search-list-content clearfix">
                    <div class="chat-search-user pull-left"><img src="{{config.staticResourceDomain + 'assets/images/personal-profile-title-img1.jpg'}}">
                    </div>
                    <div class="pull-left chat-search-user-content">
                        <p class="chat-search-comments-username">
                            <span class="f19-f">Sharon Williams</span>
                            <em class="f5-f">11:02am 16th Nov</em>
                        </p>
                        <p class="chat-search-comments-username">
                            <span class="v7-f">Upload</span>
                            <em class="f19-f chat-comments-upload-pic">2017 sales management plan.jpg</em>
                        </p>
                    </div>
                </div>
            </div>
            <div class="chat-comments-picture">
                <img src="{{config.staticResourceDomain + 'assets/images/chat-default-icon1.jpg'}}" alt="">
                <div class="ch-msg-img-opt">
                            <span class="g-border-ab g-bg-white g-border2 cursor g-transition2 g-icon-position icon1-like icon1-like-selected"></span>
                            <span class="g-border-ab g-bg-white g-border2 cursor g-transition2 g-icon-position font-more"></span>
                            <span class="g-border-ab g-bg-white g-border2 cursor g-icon-position-1">
                <i class="font-comments">
                     <em class="path1"></em>
                     <em class="path2"></em>
                     <em class="path3"></em>
                </i>
            </span>
                            <div class="d-select hide">
                                <ul>
                                    <li><em class="base">Share</em></li>
                                    <li><em class="base">Download</em></li>
                                    <li><em class="base">Archive to folder</em></li>
                                    <li><em class="base">Pin it</em></li>
                                    <li class="d-select-remove"><em class="base">Remove this message</em></li>
                                </ul>
                            </div>
                        </div>
            </div>
            <div class="chat-comments-share">
                <span class="font-share chat-comments-share-name"></span>
                <span class="f19-f">Christian Schultz</span>
            </div>
            <div class="chat-comments-list">
                <div class="chat-search-list-content clearfix">
                    <div class="chat-search-user pull-left"><img src="{{config.staticResourceDomain + 'assets/images/personal-profile-title-img1.jpg'}}">
                    </div>
                    <div class="pull-left chat-search-user-content">
                        <p class="chat-search-comments-username">
                            <span class="f19-f">Sharon Williams</span>
                            <em class="f5-f">11:02am 16th Nov</em>
                        </p>
                        <p class="chat-search-comments-content f20-f">
                            The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and
                            his holder
                            were ever tied together. This improvement upon the original usage was introduced by no less
                            a man
                            than Stubb, in order to afford the imperilled harpooneer the strongest possible guarantee
                            for the
                            faithfulness and vigilance of his monkey-rope holder.
                        </p>
                    </div>
                </div>
                <div class="chat-search-list-content clearfix">
                    <div class="chat-search-user pull-left"><img src="{{config.staticResourceDomain + 'assets/images/personal-profile-title-img1.jpg'}}">
                    </div>
                    <div class="pull-left chat-search-user-content">
                        <p class="chat-search-comments-username">
                            <span class="f19-f">Sharon Williams</span>
                            <em class="f5-f">11:02am 16th Nov</em>
                        </p>
                        <p class="chat-search-comments-content f20-f">
                            The monkey-rope is found in all whalers; but it was only in the Pequod that the monkey and
                            his holder
                            were ever tied together. This improvement upon the original usage was introduced by no less
                            a man
                            than Stubb, in order to afford the imperilled harpooneer the strongest possible guarantee
                            for the
                            faithfulness and vigilance of his monkey-rope holder.
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="chat-comments-input">
        <div class="pull-right s-style1 search-border">
            <input class="f26-f" type="text" placeholder="Comments">
            <span class="icon-input-return"></span>
        </div>
    </div>
</div>
<!--chat comments end-->