<div class="di-con">
    <div class="clearfix di-people">
        <!--<img class="pull-left" src="{{senderInfo?.user_profile_path ? appConfig.resourceDomain + senderInfo?.user_profile_path:''}}">-->
        <!--<span class="f19-f">{{senderInfo?.work_name}}</span>-->
        <!--<span class="f5-f" style="height:15px;">{{senderInfo?.p_name}} </span>-->
        <profile-img [userInfo]="senderInfo" [settings]="{show_work_name: true, img_size: 34}"></profile-img>
    </div>
    <div class="di-n-title">
        <span class="f9-f">{{'RELATION TYPE' | translate}}</span>
    </div>
    <p class="v7-f">{{relation.length === 2 ? 'friend and cooperator': relation[0] === 1 ? 'friend' : 'cooperator'}}</p>
    <div class="di-n-title">
        <span class="f9-f">{{'DIALOG MESSAGE' | translate}}</span>
    </div>
    <p class="v7-f di-n-con" [innerHtml]="objInfo.simpleMsg"></p>
    <div class="g-title">
        <span class="f9-f">{{'FEEDBACK' | translate}}</span>
    </div>
    <div class="g-textArea-set">
        <textarea textareaHeight class="g-textArea" data-maxLength="100" [(ngModel)]="contactFeedback"></textarea>
    </div>
    <p class="f33-f">{{'Maximum 100' | translate}}</p>
</div>
<div class="di-n-message di-n-success" [class.di-n-message-opacity]="diNSuccess">
    <div class="di-n-refuse di-n-center">
        <span class="font-selectbutton-select"></span>
        <p class="f55-f">{{'ACCEPTED' | translate}}</p>
    </div>
</div>
<div class="di-n-message di-n-error" [class.di-n-message-opacity]="diNError">
    <div class="di-n-refuse di-n-center">
        <span class="font-page-esc-small"></span>
        <p class="f55-f">{{'REFUSE' | translate}}</p>
    </div>
</div>