<perfect-scrollbar class="ps-container pull-left ct-right-left">
    <div class="a-list-top">
        <h3 class="f7-f">{{'COMPREHENSIVE CAPACITY' | translate}}</h3>
    </div>
    <div class="text-center"><img src="{{config.staticResourceDomain + 'assets/images/personal-analysis-img.jpg'}}"></div>
    <div class="a-analysis-agree" style="text-align: center;">
        <span class="font-color-good"></span>
        <em></em>
        <span class="font-color-good"></span>
    </div>
    <ul class="a-analysis-list ct-analysis">
        <li class="clearfix">
            <span class="f9-f">{{'TOTAL INTERNAL MISSION' | translate}}</span>
            <span class="f19-f">4</span>
            <span class="v7-f">{{'Below' | translate}}</span>
            <span class="f12-f">23.9%</span>
        </li>
        <li class="clearfix">
            <span class="f9-f">{{'TOTAL EXTERNAL MISSION' | translate}}</span>
            <span class="f19-f">222</span>
            <span class="v7-f">{{'More than' | translate}}</span>
            <span class="f12-f">99.9%</span>
        </li>
        <li class="clearfix">
            <span class="f9-f">{{'BI average' | translate}}</span>
            <span class="f19-f">3.4</span>
            <span class="v7-f">{{'More than' | translate}}</span>
            <span class="f12-f">99.9%</span>
        </li>
    </ul>
</perfect-scrollbar>