<div *ngIf="!isEditModel">
    <div class="m-right-part g-style1">
        <span class="pull-right f13-f g-margin-right10 margin-top20">{{userRoleIntro}}</span>
        <div class="m-right-part-desc">
            <span class="f9-f">{{'DESCRIPTION' | translate}}</span>
            <div class="clearfix g-margin-top10">
                <div class="pull-left">
                    <profile-img [userInfo]="missionObj.creator_info.user_info" [settings]="{show_work_name: true, img_size: 34}"></profile-img>
                </div>
                <span class="pull-left f5-f g-margin-left10">{{createFormatDate.hour}}:{{createFormatDate.minute}} {{createFormatDate.days}} {{createFormatDate.month}} {{createFormatDate.year}}</span>
            </div>
            <p class="v7-f m-right-part-con">
                {{missionObj.description}}
            </p>
        </div>
        <div class="clearfix date-time g-padding20 g-border-bottom-none">
            <div class="clearfix">
                <div class="pull-left date-curr-time" *ngIf="isShowStartTime">
                    <span class="f13-f">Start</span>
                    <span class="pull-left f49-f">{{showStartTime.day}}</span>
                    <div class="date-t">
                        <span class="f32-f">{{showStartTime.month}} {{showStartTime.year}}</span>
                        <span class="f27-f">{{showStartTime.hour}}:{{showStartTime.minute}} {{showStartTime.week}}</span>
                    </div>
                </div>
                <div class="pull-left date-curr-time" *ngIf="!isShowStartTime">
                    <span class="f13-f">{{'Start' | translate}}</span>
                    <span class="pull-left f49-f">{{'PENDING' | translate}}</span>
                </div>
                <div class="pull-right date-curr-time" *ngIf="isShowEndTime">
                    <span class="f13-f">{{'End' | translate}}</span>
                    <span class="pull-left f49-f">{{showEndTime.day}}</span>
                    <div class="date-t">
                        <span class="f32-f">{{showEndTime.month}} {{showEndTime.year}}</span>
                        <span class="f27-f">{{showEndTime.hour}}:{{showEndTime.minute}} {{showEndTime.week}}</span>
                    </div>
                </div>
                <div class="pull-right date-curr-time" *ngIf="!isShowEndTime && !isEndPending">
                    <span class="f13-f">{{'End' | translate}}</span>
                    <span class="v8-f">+{{datePeriod}}</span>
                </div>
                <div class="pull-right date-curr-time" *ngIf="!isShowEndTime && isEndPending">
                    <span class="f13-f">{{'End' | translate}}</span>
                    <span class="pull-left f49-f g-margin-top7">{{'PENDING' | translate}}</span>
                </div>
            </div>
            <i class="icon1-Shape-2 g-margin-top5"></i>
            <div class="date-curr-time-est v9-f">
                <span class="pull-left" *ngIf="isShowStartEst && startDiffer"><span class="f13-f">Act</span> <em>{{startDiffer.differTmplate}}</em></span>
                <span class="pull-right" *ngIf="isShowEndEst && endDiffer"><span class="f13-f">Act</span> <em>{{endDiffer.differTmplate}}</em></span>
            </div>
        </div>
        <mission-detail-person [missionObj]="missionObj"></mission-detail-person>
    </div>
</div>


<div *ngIf="isEditModel">
    <div class="g-padding20 g-style1">
        <div class="m-right-part-desc">
            <div class="g-title g-padding-top0">
                <span class="f9-f">{{'OPERATOR' | translate}}</span>
                <em class="f14-f">{{'required' | translate}}</em>
            </div>
            <div class="se-input">
                <dropdown-search [optionModelArr]="assignmentArr" (optionModelArrChange)="modelChange($event)"
                                 [dropdownSettings]="dropdownSettings" [dropdownOptions]="dropdownOptions"
                                 [selectedOptions]="assignmentArr"
                ></dropdown-search>
            </div>
            <div class="g-title">
                <span class="f9-f">{{'DESCRIPTION' | translate}}</span>
            </div>
            <div class="se-input">
                <div class="g-textArea-set">
                    <textarea textareaHeight class="g-textArea" data-maxLength="100" [(ngModel)]="missionObj.description"></textarea>
                </div>
                <p class="f33-f" ></p>
            </div>
        </div>
    </div>
</div>

