<div class="n-cursor" (click)="applyCompanyDialog()">
  <img src="{{senderInfo?.user_profile_path ? appConfig.resourceDomain + senderInfo?.user_profile_path : ''}}">
  <div class="n-right">
    <h3 class="f27-f">{{objInfo.title}}</h3>
    <div class="n-con n-company">
      <p class="f20-f">{{notificationIn?.comment}}</p>
      <span class="f4-f n-con-company-name">{{notificationIn?.company_name}}</span>
    </div>
    <span class="f32-f pull-left">{{senderInfo?.work_name}}</span>
    <span class="f5-f pull-right">{{notificationTime}}</span>
  </div>
</div>