<div [class.n-cursor]="objInfo.msgType !== 'notice'" (click)="doCompanyCEO()">
    <img src="{{appConfig.resourceDomain + senderInfo?.user_profile_path}}">
    <div class="n-right">
        <h3 class="f27-f">{{objInfo.title}}</h3>
        <div class="n-con n-company">
            <p class="f20-f" [innerHtml]="objInfo.simpleMsg | sanitizeHtml"></p>
            <span class="f4-f n-con-company-name" *ngIf="notificationIn?.company_name">
                <i class="base">{{notificationIn?.company_name}}</i>
            </span>
            <p class="f20-f">{{notificationIn?.msg}}</p>
        </div>
        <span class="f32-f pull-left">{{senderInfo?.work_name}}</span>
        <span class="f5-f pull-right">{{notificationTime}}</span>
    </div>
</div>