<div class="di-con">
    <div class="clearfix di-people">
        <!--<img class="pull-left" src="{{config.resourceDomain + senderInfo?.user_profile_path}}">-->
        <!--<span class="f19-f">{{senderInfo?.work_name}}</span>-->
        <!--<span class="f5-f">{{senderInfo?.p_name}}</span>-->
        <profile-img [userInfo]="senderInfo" [settings]="{show_work_name: true, img_size: 34}"></profile-img>
    </div>
    <div class="di-n-title">
        <span class="f9-f">MESSAGE</span>
    </div>
    <p class="v7-f di-n-con" [innerHtml]="objInfo.simpleMsg | sanitizeHtml"></p>
</div>
<div class="di-n-message di-n-success" [class.di-n-message-opacity]="diNSuccess">
    <div class="di-n-refuse di-n-center">
        <span class="font-selectbutton-select"></span>
        <p class="f55-f">ACCEPTED</p>
    </div>
</div>
<div class="di-n-message di-n-error" [class.di-n-message-opacity]="diNError">
    <div class="di-n-refuse di-n-center">
        <span class="font-page-esc-small"></span>
        <p class="f55-f">REFUSE</p>
    </div>
</div>