<!--&lt;!&ndash;日历表&ndash;&gt;-->
<!--<div class="calendar-table">-->
    <!--<div class="box-date mission-box">-->
        <!--<div class="box-set-date">-->
            <!--<a class="box-set-date-prev pull-left public-icon" href="javascript:"></a>-->
            <!--<div class="box-choice-date">-->
                <!--<div class="box-choice-month">-->
                    <!--<span>May</span>-->
                <!--</div>-->
                <!--<div class="box-choice-year">-->
                    <!--<span>2016</span>-->
                <!--</div>-->
            <!--</div>-->
            <!--<a class="box-set-date-next pull-right public-icon" href="javascript:"></a>-->
        <!--</div>-->
        <!--<ul class="box-week clearfix">-->
            <!--<li>Mo</li>-->
            <!--<li>Tu</li>-->
            <!--<li>We</li>-->
            <!--<li>Th</li>-->
            <!--<li>Fr</li>-->
            <!--<li>Sa</li>-->
            <!--<li>Su</li>-->
        <!--</ul>-->
        <!--<ul class="box-date-con clearfix mission-date-con">-->
            <!--<li class="gray-bg">28</li>-->
            <!--<li class="gray-bg">29</li>-->
            <!--<li>1</li>-->
            <!--<li>2</li>-->
            <!--<li>3</li>-->
            <!--<li>4</li>-->
            <!--<li>5</li>-->
            <!--<li>6</li>-->
            <!--<li>7</li>-->
            <!--<li>8</li>-->
            <!--<li>9</li>-->
            <!--<li>10</li>-->
            <!--<li>11</li>-->
            <!--<li>12</li>-->
            <!--<li>13</li>-->
            <!--<li>14</li>-->
            <!--<li class="active1">15</li>-->
            <!--<li>16</li>-->
            <!--<li>17</li>-->
            <!--<li>18</li>-->
            <!--<li>19</li>-->
            <!--<li>20</li>-->
            <!--<li>21</li>-->
            <!--<li>22</li>-->
            <!--<li>23</li>-->
            <!--<li>24</li>-->
            <!--<li>25</li>-->
            <!--<li>26</li>-->
            <!--<li>27</li>-->
            <!--<li>28</li>-->
            <!--<li class="active1 "><span>29</span></li>-->
            <!--<li class=" active1">30</li>-->
            <!--<li>31</li>-->
            <!--<li class="gray-bg">1</li>-->
            <!--<li class="gray-bg">2</li>-->
        <!--</ul>-->
    <!--</div>-->
<!--</div>-->