<div class="di-con">

    <div class="g-title g-padding-top0">
        <span class="f9-f">{{'ROOM NAME' | translate}}</span>
        <em class="f14-f">{{'required' | translate}}</em>
    </div>
    <div class="clearfix se-input">
        <input class="current-color g-input-box-shadow" type="text" [(ngModel)]="roomName" (blur)="onRoomNameBlur()"
               [class.g-show-input-error]="isShowNameError">
    </div>
    <p class="meeting-show-error" [class.hide]="!isShowNameError">{{roomEmpty | translate}}</p>
    <div class="g-title">
        <span class="f9-f">{{'ATTENDEE AMOUNT' | translate}}</span>
        <em class="f14-f">{{'required' | translate}}</em>
    </div>
    <div class="clearfix se-input">
        <input class="current-color g-input-box-shadow" type="text" [(ngModel)]="roomNumber"
               (keydown)="onKeyDown($event)" (blur)="onRoomNumberBlur()" [class.g-show-input-error]="isShowNumberError">
        <p class="meeting-show-error" [class.hide]="!isShowNumberError">{{numberErrorText | translate}}</p>
    </div>
    <div class="g-title">
        <span class="f9-f">{{'MEETING PROJECT' | translate}}</span>
    </div>
    <ul class="g-d-drag">
        <li class="clearfix">
            <div class="pull-left">
                <p class="f10-f">{{'Weather the room is setted it' | translate}}</p>
            </div>
            <div class="g-drag1-width1 g-margin-top-2">
                <switch-button [initVal]="meetingRoomProject"
                               (switchButEvent)="getSwitchButEvent($event)"></switch-button>
            </div>
        </li>
    </ul>
    <div class="g-title g-padding-top0">
        <span class="f9-f">{{'CONFERENCE VIDEO' | translate}}</span>
    </div>
    <ul class="g-d-drag">
        <li class="clearfix">
            <div class="pull-left">
                <p class="f10-f">{{'Weather the room is setted it' | translate}}</p>
            </div>
            <div class="g-drag1-width1 g-margin-top-2">
                <switch-button [initVal]="meetingRoomVideo"
                               (switchButEvent)="getSwitchButEvent($event)"></switch-button>
            </div>
        </li>
    </ul>
    <p class="g-show-error-color">{{btnError}}</p>
</div>